modules = ["nodejs-20", "web", "java-graalvm22.3"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["bash", "-c", "node --enable-source-maps artifacts/api-server/dist/index.mjs & pnpm --filter @workspace/swiftmart run serve"]
build = ["bash", "-c", "pnpm run build"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 8089
externalPort = 4200

[[ports]]
localPort = 8099
externalPort = 8099

[[ports]]
localPort = 22169
externalPort = 80

[nix]
channel = "stable-25_05"
packages = ["lsof", "nano"]

[userenv]

[userenv.shared]
SUPER_ADMIN_PHONES = "6296118949,7602584238"
NODE_ENV = "development"
OTP_DEMO_CODE = "123456"
PORT = "8080"
VAPID_PUBLIC_KEY = "BHUJUcsvz6PRJJw7e28uSZRiCygRJGyyk9xXsa1Wl9kVRzCDKRt8MnPFmKLy0PAE5mbQqkbaZG6jk-MGkHSLY6Y"
VAPID_SUBJECT = "mailto:admin@swiftmart.com"
OTP_MODE = "real"
AUTH_MODE = "both"
JWT_SECRET = "0aebb33ccca6682f650ad1dce258a38af7f72db87a367e26bfd4767613547802c05806fb02d26e3f9576343e02affd80b04226cba5fb24036f51e498572ca56a"
JWT_REFRESH_SECRET = "e78333001029982d0e6661d233e0a3772007f0078faabdf2cd9f80adae8f1d6db16eefaa0b6fa51fdfc1d6cc85389c5f554a2314ae391a6e4dd7c94144064c10"
ALLOWED_ORIGINS = "https://swiftmart.space,https://www.swiftmart.space"
VITE_API_URL = "https://swiftmart.space"
